:root {
  --Lime: hsl(61, 70%, 52%);
  --Red: hsl(4, 69%, 50%);
  --White: hsl(0, 0%, 100%);
  --Slate-100: hsl(202, 86%, 94%);
  --Slate-300: hsl(203, 41%, 72%);
  --Slate-500: hsl(200, 26%, 54%);
  --Slate-700: hsl(200, 24%, 40%);
  --Slate-900: hsl(202, 55%, 16%);
}
body {
  font-family: "Plus Jakarta Sans", sans-serif;
  background-color: var(--Slate-100);
  min-height: 100vb;
}
/* Start Global Rules */
.slate-700 {
  color: var(--Slate-700);
}
.bg-slate-100 {
  background-color: var(--Slate-100);
}
/* End Global Rules */
#mortgage-amount {
  width: 80%;
  heigh t: 100%;
  &:focus {
    outline: none;
  }
}